.git
.gitignore
.vscode
.idea
node_modules
**/node_modules
**/.npm
**/dist
**/build
**/logs
*.log
npm-debug.log*
.env
.env.local
.env.production
ecommerce-ui
k8s
load-tests
observability
build_logs.txt
check_logs.txt
final_logs.txt
loki_logs.txt
